@{
    /**/

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="~/Scripts/ScrollDownMenu.js"></script>
    <meta charset="utf-8">
    <title>Taxi A Proximit&eacute</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="~/Contents/FichierCSSOne.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="~/Contents/Font-Awesome.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Contents/Style.css" rel="stylesheet">
    <link href="~/Contents/Contact.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
    <link href="~/Contents/ButtonColor.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Contents/TopMenu.css">
</head>

<body>


    <!-- wrapper -->



    <style>
        #rcorners2 {
            border-radius: 25px;
            border: 2px solid #73AD21;
            padding: 20px;
            width: 400px;
            height: 80px;
        }
    </style>
    <div style="background-color:dimgrey;">
        <header>
            <div class="topnav">
                @Html.ActionLink("Acceuil", "Index", "Home", null, new { @class = "active" });

                <a href="#news">Nouveaut&eacutes</a>
                @Html.ActionLink("Contactez nous", "Index", "Contact", null, new { @class = "page-scroll" });
                @Html.ActionLink("A Propos de Nous", "Index", "About", null, new { @class = "page-scroll" });

                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>

                <!--Menu Deroulant-->
            </div>
            <div class="tel"><span>Contactez-nous:</span> 736-966-592</div>


        </header>
    </div>
    <!--Scroll Down menu pour choisir la ville et l heure de la demande de taxi-->
    <div style=" background: url(/Images/taxiDriver.png) no-repeat; background-color:black;" class="chiffer">

        <div style="position:relative; left:320px; top:90px;">

            <form name="myform" id="rcorners2">

                Choisissez votre ville: <select name="state" id="countySel" size="1">

                    <option value="" selected="selected">---Ville---</option>

                </select>


                <input value="Recherche" type="submit" style="border-radius: 5px 25px;">
            </form>

        </div>


        <!-- feature block -->
        <div class="feature" style="position:relative; top:100px;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <!-- feature item -->
                        <div class="feature-item">
                            <!-- icon -->
                            <i class="fa fa-crosshairs"></i>
                            <!-- heading -->
                            <h4>Appelez un Taxi</h4>
                            <!-- paragraph -->
                            <p>Vous Pouvez contacter et avoir un Taxi en quelques minutes, Tout ca avec 0,99 centime seulement!.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!-- feature item -->
                        <div class="feature-item">
                            <!-- icon -->
                            <i class="fa fa-sitemap"></i>
                            <!-- heading -->
                            <h4>Vous etes un cheffeur?</h4>
                            <!-- paragraph -->
                            <p>Rejoinez notre cerle et auguementer le nombre de vos clients GRATUITEMENT </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <!-- feature item -->
                        <div class="feature-item">
                            <!-- icon -->
                            <i class="fa fa-terminal"></i>
                            <!-- heading -->
                            <h4>Utilisation et conditions</h4>
                            <!-- paragraph -->
                            <p>Decouvrez nos conditions d'utilisation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- subscribe block -->
        <div class="subscribe">
            <div class="container">
                <div class="sub-content">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <!-- subscribe update message -->
                            <div class="sub-message">
                                <!-- heading -->
                                <h3>Abonnez-vous pour recevoir tout nous offres!</h3>
                                <!-- paragraph -->
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <!-- paragraph -->
                                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                <!-- update form  -->
                                <form role="form">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-lg" placeholder="Email Address">
                                        <span class="input-group-btn">
                                            <button class="btn btn-info btn-lg" type="button">Subscribe</button>
                                        </span>
                                    </div><!-- /input-group -->
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ZAqj3JWSN8M" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer above social block -->
        <div class="footer-above">
            <div class="container">
                <!-- footer above main content -->
                <div class="above-content">
                    <!-- testimonial content / paragraph -->
                    <p class="post">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quaeet quasi architecto beatae vitae dicta sunt explicabo."</p>
                    <!-- heading -->
                    <h4>Suivez-nous sur les reseaux sociaux</h4>
                    <div class="social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <footer>
            <div class="container">
                <!-- navigation link -->
                <p class="nav-link"><a href="#">Contact</a> &nbsp;|&nbsp; <a href="#">Telechargement</a> &nbsp;|&nbsp; <a href="#">Email</a> &nbsp;|&nbsp; <a href="#">Support</a> &nbsp;|&nbsp; <a href="#">Privacy Policy</a></p>
                <!-- copy right -->
                <!-- This theme comes under Creative Commons Attribution 4.0 Unported. So don't remove below link back -->
                <p class="copy-right">Copyright &copy; 2020 <a href="#">AlloTaxi</a> | Designed By : Jihane Tissafi-Hassani <a href="http://www.google.com">Allo Taxi!</a>, Droits Reserv&eacutes. </p>
            </div>
        </footer>

    </div>


    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="js/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="js/html5shiv.js"></script>
    <!-- Custom JS -->
    <script src="js/custom.js"></script>
    </div>
</body>
</html>

